<html>

<head>
    <title>Astronomy Picture of the date {{date}} </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <div id="content">
        {{title}}
        <br>
        <img src="{{link}}">
        <br>
        {{explain}}
    </div>

    <div id="editor"></div>

    <input type="submit" onclick="download_pdf()" value="Download as pdf">

    <script>

        //a kinda async download button which sends post data to /download which converts the current html to pdf
        //credits for the ajax_download function: https://stackoverflow.com/a/21164120
        function ajax_download(url, data) {
            var $iframe,
                iframe_doc,
                iframe_html;

            if (($iframe = $('#download_iframe')).length === 0) {
                $iframe = $("<iframe id='download_iframe'" +
                    " style='display: none' src='about:blank'></iframe>"
                ).appendTo("body");
            }

            iframe_doc = $iframe[0].contentWindow || $iframe[0].contentDocument;
            if (iframe_doc.document) {
                iframe_doc = iframe_doc.document;
            }

            iframe_html = "<html><head></head><body><form method='POST' action='" +
                url + "'>"

            Object.keys(data).forEach(function (key) {
                iframe_html += "<input type='hidden' name='" + key + "' value='" + data[key] + "'>";

            });

            iframe_html += "</form></body></html>";

            iframe_doc.open();
            iframe_doc.write(iframe_html);
            $(iframe_doc).find('form').submit();
        }

        function download_pdf() {
            ajax_download('/download', { 'title': "{{title}}", "link": "{{link}}", "explain": "{{explain}}", "date": "{{date}}" })
        }
    </script>
</body>

</html>