<html>

<head>
    <title>Nasa APOD</title>
    <style>
        label {
            display: block;
            font: 1rem 'Fira Sans', sans-serif;
        }

        input,
        label {
            margin: .4rem 0;
        }
    </style>
</head>

<body>

    <div id="content">
        <h1>Nasa's Astronomy Picture Of The Day</h1>
        <form method='POST' action="image">
            <label>Enter The Date: </label>
            <input id="datefield" type='date' min='1995-06-16' max='2000-13-13' name="date" required="required"></input>
            <input type="submit">
        </form>
    </div>


    <script>
        //Date validation, to make sure the user doesn't choose the date more than the given current date.
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("datefield").setAttribute("max", today);

    </script>

</body>

</html>